#header-nav{
	border-radius: 0;
	border: 0;
}

.navbar-brand h1{
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
ul
{
	clear: right;
}
li
{
	font-weight: bold;
}
#title1,#title2,#title3
{
	background-color: #808080;
	margin: 30px;
	padding: 10px;
	margin-bottom: 0px;
	text-align: center;
	font-weight: bold;
}
.Chicken,.Beef,.Sushi{
	background-color: #808080;
	margin : 30px;
	margin-top: 0px;
	padding: 10px;
}
h2
{
	margin-bottom: 20px;
	font-weight: bold;	
}
#Back{
font-weight: bold;
color: #00008B;	
}